<!--
__author__ = "BARABITE-DUBOUCH Bastien"
__copyright__ = "Copyright (C) 2021 BARABITE-DUBOUCH Bastien"
__license__ = "Private"
__version__ = "0.1"
-->

{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    {% block scripts %}
    <script src="{% static 'js/script.js' %}" defer></script>
    {% endblock scripts %}

    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png"/>
    {% block title %}<title>Mon Portefolio</title>{% endblock %}
</head>

<body onscroll="scrollpage()">

<div id="top-of-page"></div>

<header>
    {% block sidebar %}
    <div>
        <h1>{{ first_name|capfirst|default:"nothing" }}<span class="blue-point">.</span></h1>
        <h5>{{ date|date:"d F Y : H\Hi" }}</h5>
        <nav>
            <ul>
                <li><a href="#top-of-page">Accueil</a></li>
                <li><a href="#mon-portefolio">Mon Portefolio</a></li>
                <li><a href="#mon-travail">Mon Travail</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    {% endblock %}
</header>

<main>

    <section id="main-image">
        <div class="wrapper">
            <h2><strong>Information Systems Designer</strong></h2>
            <a href="https://ort-france.fr/nos-formations/metier-du-numerique-et-informatique/bac-3-developpement-cybersecurite-alternance-csi"
               target="_blank" class="bouton-1">ORT Colomiers</a>
        </div>
    </section>

    <section id="mon-portefolio">
        <div class="wrapper">
            <ul>
                <li id="mon-portefolio-1">
                    <h4>Reactivity</h4>
                    <p>Demonstrate responsiveness.</p>
                </li>
                <li id="mon-portefolio-2">
                    <h4>Contact skills</h4>
                    <p>A taste for contact and communication.</p>
                </li>
                <li id="mon-portefolio-3">
                    <h4>Capacity of adaptation</h4>
                    <p>Demonstrate adaptability.</p>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </section>

    <section id="mon-travail">
        <div class="container">

            <article
                    style="background: white url({% static 'img/logo_virtualbox.png' %}); background-size: 290px 250px; border-radius: 20px">
                <div class="overlay">
                    <h4>PPE 1:</h4>
                    <p><small>Mise en place un système de virtualisation complet et simple d’utilisation
                        (VirtualBox)</small></p>
                    <a href="https://btssiobarabitedubouchbastien.files.wordpress.com/2021/06/barabite-dubouch_bastien-ppe-1.pdf"
                       class="bouton-2" target="_blank">Plus d'infos</a>
                </div>
            </article>

            <article
                    style="background-image: url({% static 'img/logo_windows_server.png' %}); background-size: 270px 250px; border-radius: 20px">
                <div class="overlay">
                    <h4>PPE 2:</h4>
                    <p><small>Mise en place d'un contrôleur de domaine avec les services AD DS, DNS et DHCP sous Windows
                        Server 2016</small></p>
                    <a href="https://btssiobarabitedubouchbastien.files.wordpress.com/2021/06/barabite-dubouch_bastien-ppe-2.pdf"
                       class="bouton-2" target="_blank">Plus d'infos</a>
                </div>
            </article>

            <article
                    style="background-image: url({% static 'img/logo_ubuntu.png' %}); background-size: 270px 250px; border-radius: 20px">
                <div class="overlay">
                    <h4>PPE 3:</h4>
                    <p><small>Mise en place d'un serveur Web sous Debian 9.</small></p>
                    <a href="https://btssiobarabitedubouchbastien.files.wordpress.com/2021/06/barabite-dubouch_bastien-ppe-3.pdf"
                       class="bouton-2" target="_blank">Plus d'infos</a>
                </div>
            </article>

            <article
                    style="background-image: url({% static 'img/logo_glpi.png' %}); background-size: 270px 250px; border-radius: 20px">
                <div class="overlay">
                    <h4>PPE 4:</h4>
                    <p><small>Mise en place d'une solution de gestion de parc informatique GLPI sous Debian 9.</small>
                    </p>
                    <a href="https://btssiobarabitedubouchbastien.files.wordpress.com/2021/06/barabite-dubouch_bastien-ppe-2.pdf"
                       class="bouton-2" target="_blank">Plus d'infos</a>
                </div>
            </article>

            <article
                    style="background-image: url({% static 'img/logo_orange.jpg' %}); background-size: 270px 250px; border-radius: 20px">
                <div class="overlay">
                    <h4>PPE 5:</h4>
                    <p><small>Préparation et installation d'un poste informatique ORANGE.</small></p>
                    <a href="https://btssiobarabitedubouchbastien.files.wordpress.com/2021/06/barabite-dubouch_bastien-ppe-2.pdf"
                       class="bouton-2" target="_blank">Plus d'infos</a>
                </div>
            </article>

        </div>
    </section>

    <section id="diplomes">
        <div id="diplomes_conteneur">
            <h1>Mes diplômes :</h1>
            <ul class="todos"></ul>
        </div>
    </section>

    <section id="contact">
        <div class="wrapper">

            <div class="contact-moi">
                <h3>Contactez-moi</h3>
                <p>Si vous le souhaitez, vous pouvez me contacter par le biais de ce formulaire ...</p>
                <form action="#" method="GET">
                    <fieldset>
                        <legend>Informations</legend>

                        <div>
                            <p>Civilités:</p>
                            Monsieur:<input type="radio" name="Civ">
                            Madame:<input type="radio" name="Civ">
                        </div>
                        <div>
                            Nom: <input type="text" placeholder="Saisir votre nom"><br>
                            Prénom: <input type="text" placeholder="Saisir votre prénom"><br>
                            Email: <input type="email" placeholder="Saisir votre mail">
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Message</legend>
                        Sujet de message: <input type="text"><br>
                        Message: <textarea cols="30" rows="10"></textarea>
                        <button type="submit">Envoyer</button>
                        <button type="reset">Annuler</button>
                    </fieldset>

                </form>
            </div>

        </div>
    </section>

</main>

<footer>

    <div class="wrapper">
        <h1>My Portfolio<span class="blue_point">.</span></h1>
        <div class="copyright"> {{ copyright }} - Copyright © {{ date|date:"Y" }}. Tous droits réservés.</div>
        <a href="{% url 'index' %}" style="color: white">TOP OF PAGE</a>
    </div>

</footer>

</body>
</html>