/*
__author__ = "BARABITE-DUBOUCH Bastien"
__copyright__ = "Copyright (C) 2021 BARABITE-DUBOUCH Bastien"
__license__ = "Private"
__version__ = "0.1"
 */

footer {
    height: 180px;
    background-color: #41b6e6;
}

footer h1 {
    color: #fff;
    text-align: center;
    padding-top: 2.5%;
}

.copyright {
    text-align: center;
    font-weight: bold;
    color: #0c3484;
}
